**/.idea
**/.ipynb_checkpoints
**/__pycache__
exploration_gui/debugger.ipynb
exploration_gui/demo_gui.mp4
experiment_website/readme_figure.drawio
dataset/Dataset40k/prompts/*
dataset/Dataset40k/song_cache/*
dataset/Dataset40k/cached_data/*
dataset/Dataset40k/text_embeddings/*
dataset/Dataset40k/youtube_data/*.json
dataset/Dataset40k/youtube_data/*.jpg
dataset/Dataset40k/youtube_data/*.mp3
dataset/Dataset40k/test_data/*.jpg
dataset/Dataset40k/test_data/*.mp3
dataset/Dataset40k/test_data/*.csv